:host {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 30px;
        .search {
            display: flex;
            flex-direction: column;
            label {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;
                h3 {
                    width: 85px;
                }
            }
            label input {
                width: 100px;
            }
        }
    }
}